body {
  margin: 0;
  background: url('https://primicia.com.ve/wp-content/uploads/2021/08/Super-Mario-Bros-1.jpeg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
}

#canvas {
  display: block;
  margin: 20px auto;
  border: 3px solid #ffcc00;
  box-shadow: 0 0 20px gold;
  background-color: rgba(0, 0, 0, 0.7);
}

button {
  width: 50px;
  height: 30px;
  margin-bottom: 5px;
  font-weight: bold;
  background-color: #ffcc00;
  border: 2px solid #c08400;
  color: #5a2e00;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #ffe26f;
  transform: scale(1.1);
}